<template name="layout_footer">
   <footer class="footernav">
        <ul class="list-inline">
            <li>
                <a href="{{ pathFor 'home' }}">
                    {{{i18n 'dapp.app.buttons.home'}}}
                </a>
            </li>
            <li class="footer-menu-divider">⋅</li>
            <li>
                <a href="{{ pathFor 'admin' }}">
                    {{{i18n 'dapp.app.buttons.admin'}}}
                </a>
            </li>
        </ul>
       
        <p class="copyright text-muted small">
            {{{i18n 'dapp.app.copyright'}}}
        </p>
    </footer>
</template>
